@model RatioShop.Data.ViewModels.ProductViewModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Code)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.Code)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product.ProductFriendlyName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.ProductFriendlyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product.ProductRawName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.ProductRawName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product.IsDelete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.IsDelete)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product.IsNew)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.IsNew)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product.EnableStockTracking)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.EnableStockTracking)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product.ProductImage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.ProductImage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product.ModifiedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.ModifiedDate)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Product.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |        
        <a asp-action="ProductSettings">Back to List</a>
    </form>
</div>
