@using RatioShop.Constants
@using RatioShop.Data.Models
@using RatioShop.Data.ViewModels
@using RatioShop.Enums
@using RatioShop.Helpers;
@using RatioShop.Helpers.QueryableHelpers
@model ListProductViewModel

@{
    ViewData["Title"] = "Products";
    Layout = "~/Pages/Shared/_Layout.cshtml";
    var language = "vi-VN";    
    var currentCategoryFilter = Model.FilterItems?.FirstOrDefault(x => x.Type == FilterType.Text.ToString() && x.FieldName == FieldNameFilter.Category.ToString());
    var currentPriceRangeFilter = Model.FilterItems?.FirstOrDefault(x => x.Type == FilterType.NumberRange.ToString() && x.FieldName == FieldNameFilter.Price.ToString());    
}

<!-- Product -->
<div class="bg0 m-t-23 p-b-140">
    <div class="container">
        <div class="flex-w flex-sb-m p-b-52">
            <div class="flex-w flex-l-m m-tb-10">
                @if (Model.FilterSettings != null && Model.FilterSettings.CategoryFilter != null && Model.FilterSettings.CategoryFilter.Any())
                {
                    foreach (var item in Model.FilterSettings.CategoryFilter)
                    {
                        var selectedClass = currentCategoryFilter?.Value == item.Value || currentCategoryFilter != null && currentCategoryFilter.Value.Equals(item.Value) ? "how-active1" : "";                        
                        <button class="js_category-filter stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 @selectedClass" data-value="@item.Value">
                            @item.DisplayName
                        </button>
                    }
                }               
            </div>

            <div class="flex-w flex-c-m m-tb-10">
                <div class="flex-c-m stext-106 cl6 size-104 bor4 pointer hov-btn3 trans-04 m-r-8 m-tb-4 js-show-filter">
                    <i class="icon-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-filter-list"></i>
                    <i class="icon-close-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
                    Filter
                </div>

                <div class="flex-c-m stext-106 cl6 size-105 bor4 pointer hov-btn3 trans-04 m-tb-4 js-show-search">
                    <i class="icon-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-search"></i>
                    <i class="icon-close-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
                    Search
                </div>
            </div>

            <!-- Search product -->
            <div class="dis-none panel-search w-full p-t-10 p-b-15">
                <div class="bor8 dis-flex p-l-15">
                    <button class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04 js_search-products-btn" data-page-size=@Model.PageSize>
                        <i class="zmdi zmdi-search"></i>
                    </button>

                    <input class="mtext-107 cl2 size-114 plh2 p-r-15 js_search-products-input" value="@QueryableHelpers.GetFreeTextFilter(Model.FilterItems)" type="text" name="search-product" placeholder="Search" data-previous-value="@QueryableHelpers.GetFreeTextFilter(Model.FilterItems)">
                </div>
                <div class="js_product-search-error-message"></div>
            </div>

            <!-- Filter -->
            <div class="dis-none panel-filter w-full p-t-10">
                <div class="wrap-filter flex-w bg6 w-full p-lr-40 p-t-27 p-lr-15-sm">
                    <div class="filter-col1 p-r-15 p-b-27">
                        <div class="mtext-102 cl2 p-b-15">
                            Sort By
                        </div>

                        <ul>
                            @foreach (var item in SiteSettings.ProductsSorts)
                            {
                                var filterActiveClass = item.Key == Model.SortType ? "filter-link-active" : "";
                                <li class="p-b-6">
                                    <a href="#" class="js_product-sortBy filter-link stext-106 trans-04 @filterActiveClass" data-value="@item.Key">
                                        @item.Value
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>

                    <div class="filter-col2 p-r-15 p-b-27">
                        <div class="mtext-102 cl2 p-b-15">
                            Price
                        </div>

                        <ul>
                            @if (Model.FilterSettings != null && Model.FilterSettings.PriceRangeFilter != null && Model.FilterSettings.PriceRangeFilter.Any())
                            {
                                var allFilterActiveClass = currentPriceRangeFilter == null || currentPriceRangeFilter != null && currentPriceRangeFilter.Value.Equals("All") ? "filter-link-active" : "";
                                <li class="p-b-6">
                                    <a href="#" class="js_priceRange-filter filter-link stext-106 trans-04 @allFilterActiveClass" data-value="">
                                        All
                                    </a>
                                </li>
                                @foreach (var item in Model.FilterSettings.PriceRangeFilter)
                                {
                                    var valueDisplay = item.Value == null ? "+" : item.Value.ToString();
                                    var fitlerValue = valueDisplay.Equals("+") ? $"{item.Key}" : $"{item.Key} - {valueDisplay}";
                                    var fitlerDisplay = valueDisplay.Equals("+") ? $"{CommonHelper.CurrencyFormat(item.Key, language)} +" : $"{CommonHelper.CurrencyFormat(item.Key, language)} - {CommonHelper.CurrencyFormat(item.Value, language)}";
                                    var filterActiveClass = currentPriceRangeFilter != null && currentPriceRangeFilter.Value.Equals(fitlerValue) ? "filter-link-active" : "";

                                    <li class="p-b-6">
                                        <a href="#" class="js_priceRange-filter filter-link stext-106 trans-04 @filterActiveClass" data-value="@fitlerValue">
                                            @fitlerDisplay
                                        </a>
                                    </li>
                                }
                            }
                        </ul>
                    </div>

                    @*<div class="filter-col3 p-r-15 p-b-27">
                        <div class="mtext-102 cl2 p-b-15">
                            Color
                        </div>

                        <ul>
                            <li class="p-b-6">
                                <span class="fs-15 lh-12 m-r-6" style="color: #222;">
                                    <i class="zmdi zmdi-circle"></i>
                                </span>

                                <a href="#" class="filter-link stext-106 trans-04">
                                    Black
                                </a>
                            </li>

                            <li class="p-b-6">
                                <span class="fs-15 lh-12 m-r-6" style="color: #4272d7;">
                                    <i class="zmdi zmdi-circle"></i>
                                </span>

                                <a href="#" class="filter-link stext-106 trans-04 filter-link-active">
                                    Blue
                                </a>
                            </li>

                            <li class="p-b-6">
                                <span class="fs-15 lh-12 m-r-6" style="color: #b3b3b3;">
                                    <i class="zmdi zmdi-circle"></i>
                                </span>

                                <a href="#" class="filter-link stext-106 trans-04">
                                    Grey
                                </a>
                            </li>

                            <li class="p-b-6">
                                <span class="fs-15 lh-12 m-r-6" style="color: #00ad5f;">
                                    <i class="zmdi zmdi-circle"></i>
                                </span>

                                <a href="#" class="filter-link stext-106 trans-04">
                                    Green
                                </a>
                            </li>

                            <li class="p-b-6">
                                <span class="fs-15 lh-12 m-r-6" style="color: #fa4251;">
                                    <i class="zmdi zmdi-circle"></i>
                                </span>

                                <a href="#" class="filter-link stext-106 trans-04">
                                    Red
                                </a>
                            </li>

                            <li class="p-b-6">
                                <span class="fs-15 lh-12 m-r-6" style="color: #aaa;">
                                    <i class="zmdi zmdi-circle-o"></i>
                                </span>

                                <a href="#" class="filter-link stext-106 trans-04">
                                    White
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="filter-col4 p-b-27">
                        <div class="mtext-102 cl2 p-b-15">
                            Tags
                        </div>

                        <div class="flex-w p-t-4 m-r--5">
                            <a href="#" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
                                Fashion
                            </a>

                            <a href="#" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
                                Lifestyle
                            </a>

                            <a href="#" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
                                Denim
                            </a>

                            <a href="#" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
                                Streetstyle
                            </a>

                            <a href="#" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
                                Crafts
                            </a>
                        </div>
                    </div>*@
                </div>
            </div>
        </div>

        <div class="row isotope-grid js-listProducts">
            @if (Model.Products != null && Model.Products.Any())
            {
                foreach (var item in Model.Products)
                {
                    <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women">
                        <partial name="_ProductCardItem" model="@(new ProductItemViewModel{Product = item, Language = language})" />
                    </div>
                }
            }
        </div>

        <!-- Load more -->
        <div class="js_load-more-area">
            @if (Model.PageIndex < Model.TotalPage)
            {
                <div class="flex-c-m flex-w w-full p-t-45">
                    <a href="#" class="flex-c-m stext-101 cl5 size-103 bg2 bor1 hov-btn1 p-lr-15 trans-04" id="btn-loadMore" data-next-page=@(++Model.PageIndex) data-page-size=@Model.PageSize data-total-page=@Model.TotalPage>
                        Load More
                    </a>
                </div>
            }
        </div>
    </div>
</div>

<!-- Modal1 -->
	<partial name="_ProductQuickView" />

    <script type="module" defer src="@Url.Content("~/js/cart/cart-common.js")"></script>
<script type="module" defer src="@Url.Content("~/js/product/product-listing.js")"></script>
