@using RatioShop.Data.ViewModels.Layout;

@model ILayoutSettingsViewModel
@{
    var footerSettings = Model.FooterSettings()?.FooterSetting;
}

<footer class="bg3 p-t-75 p-b-32">
    <div class="container">
        <div class="row">
            @if (footerSettings != null && footerSettings.FooterInfos != null && footerSettings.FooterInfos.Any())
            {
                @foreach (var item in footerSettings.FooterInfos)
                {
                    <div class="col-sm-6 col-lg-3 p-b-50">
                        <h4 class="stext-301 cl0 p-b-30">
                            @item.Title
                        </h4>

                        @if (!string.IsNullOrEmpty(item.Description))
                        {
                            <p class="stext-107 cl7 size-201">
                                @item.Description
                            </p>
                        }

                        <ul>
                            @if (item.Items != null && item.Items.Any())
                            {
                                if (item.ItemDisplayInline)
                                {
                                    <div class="p-t-27">
                                        @foreach (var infoItem in item.Items)
                                        {
                                            <a href="@infoItem.Url" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                                                @Html.Raw(infoItem.Text)
                                            </a>
                                        }
                                    </div>

                                }
                                else
                                {
                                    foreach (var infoItem in item.Items)
                                    {
                                        <li class="p-b-10">
                                            <a href="@infoItem.Url" class="stext-107 cl7 hov-cl1 trans-04">
                                                @Html.Raw(infoItem.Text)
                                            </a>
                                        </li>
                                    }
                                }
                            }
                        </ul>
                    </div>
                }

            }            
        </div>

        <div class="p-t-40">
            <div class="flex-c-m flex-w p-b-18">
                @if (footerSettings != null && footerSettings.PaymentSupports != null && footerSettings.PaymentSupports.Any())
                {
                    @foreach (var item in footerSettings.PaymentSupports)
                    {
                        <a href="@item.Url" class="m-all-1">
                            <img src="@item.Icon?.ImageSrc" alt="@item.Icon?.ImageAlt">
                        </a>
                    }
                }
            </div>

            <p class="stext-107 cl6 txt-center">
                @Html.Raw(footerSettings?.Coppyright)
            </p>
        </div>
    </div>
</footer>